.info-fecha {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-crema);
  gap: 2.5rem;
  padding: 5rem 0;
}

.info-fecha p {
  color: var(--color-mostaza);
  font-size: var(--font-size-small);
  letter-spacing: 0.5rem;
}

.fecha {
  width: 70%;
}

@media (width >=768px) {
  .info-fecha img {
    width: 20%;
  }
}
