.section-ubicacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-celeste);
  gap: 2rem;
  position: relative;
}
.section-ubicacion img {
  top: 0;
  left: 0;
  width: 100%;
}

.content-ubicacion {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  bottom: 1rem;
}

.content-ubicacion a img {
  width: 150px;
}

.content-ubicacion h2 {
  color: var(--color-bordo);
  text-align: center;
  font-size: 2.5rem;
  line-height: 0.8;
}

.content-ubicacion p {
  color: var(--color-bordo);
  text-align: center;
  letter-spacing: 0.3rem;
  font-size: 0.7rem;
  line-height: 1.2;
}

@media (width >=768px) {
  .content-ubicacion h2 {
    font-size: 5rem;
  }
  .content-ubicacion {
    top: 10rem;
  }

  .section-ubicacion > img {
    object-fit: cover;
    height: 100dvh;
  }
  .content-ubicacion a img {
    width: 200px;
  }
}
